<div class="form-container">
  <div class="form-card">
    <h1 class="form-title">Edit Employee</h1>
    
    <% if @employee.errors.any? %>
      <div class="error-messages">
        <h3><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h3>
        <ul>
          <% @employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form_with model: @employee, url: employee_path(@employee), method: :patch do |f| %>
      <div class="form-row">
        <div class="form-col">
          <div class="form-group">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-input", disabled: true %>
          </div>
        </div>
        <div class="form-col">
          <div class="form-group">
            <%= f.label :role, class: "form-label" %>
            <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, { prompt: "Select role" }, class: "form-input" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-col">
          <div class="form-group">
            <%= f.label :gender, class: "form-label" %>
            <%= f.text_field :gender, value: @employee.gender&.titleize, class: "form-input", disabled: true %>
          </div>
        </div>
        <div class="form-col">
          <div class="form-group">
            <%= f.label :age, class: "form-label" %>
            <%= f.number_field :age, class: "form-input" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-col">
          <div class="form-group">
            <%= f.label :created_at, "Created At", class: "form-label" %>
            <%= f.text_field :created_at, value: @employee.created_at&.strftime("%Y-%m-%d %H:%M"), class: "form-input", disabled: true %>
          </div>
        </div>
        <div class="form-col">
          <div class="form-group">
            <%= f.label :updated_at, "Modified At", class: "form-label" %>
            <%= f.text_field :updated_at, value: @employee.updated_at&.strftime("%Y-%m-%d %H:%M"), class: "form-input", disabled: true %>
          </div>
        </div>
      </div>

      <h3 class="section-title">Address Information</h3>

      <%= f.fields_for :addresses do |addr| %>
        <div class="address-section">
          <%= addr.hidden_field :id %>
          <div class="form-row">
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :line1, "Address Line 1", class: "form-label" %>
                <%= addr.text_field :line1, class: "form-input" %>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :line2, "Address Line 2", class: "form-label" %>
                <%= addr.text_field :line2, class: "form-input" %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :city, class: "form-label" %>
                <%= addr.text_field :city, class: "form-input" %>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :state, class: "form-label" %>
                <%= addr.text_field :state, class: "form-input" %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :zip, "ZIP Code", class: "form-label" %>
                <%= addr.text_field :zip, class: "form-input" %>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :country, class: "form-label" %>
                <%= addr.text_field :country, class: "form-input" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="btn-group">
        <%= f.submit "Update Employee", class: "btn-primary" %>
        <%= link_to "Back", employees_path, class: "btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>


