<div class="form-container">
  <div class="form-card">
    <h1 class="form-title">Add New Employee</h1>
    
    <% if @employee.errors.any? %>
      <div class="error-messages">
        <h3><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h3>
        <ul>
          <% @employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form_with model: @employee, url: employees_path do |f| %>
      <div class="form-row">
        <div class="form-col">
          <div class="form-group">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-input", placeholder: "Enter email address" %>
          </div>
        </div>
        <div class="form-col">
          <div class="form-group">
            <%= f.label :role, class: "form-label" %>
            <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, { prompt: "Select role" }, class: "form-input" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-col">
          <div class="form-group">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-input", placeholder: "Enter password" %>
          </div>
        </div>
        <div class="form-col">
          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-input", placeholder: "Confirm password" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-col">
          <div class="form-group">
            <%= f.label :gender, class: "form-label" %>
            <%= f.select :gender, User.genders.keys.map { |g| [g.titleize, g] }, { prompt: "Select gender" }, class: "form-input" %>
          </div>
        </div>
        <div class="form-col">
          <div class="form-group">
            <%= f.label :age, class: "form-label" %>
            <%= f.number_field :age, class: "form-input", placeholder: "Enter age" %>
          </div>
        </div>
      </div>

      <h3 class="section-title">Address Information</h3>

      <%= f.fields_for :addresses do |addr| %>
        <%= addr.hidden_field :address_type, value: 'current' %>
        <div class="address-section">
          
          <div class="form-row">
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :line1, "Address Line 1", class: "form-label" %>
                <%= addr.text_field :line1, class: "form-input", placeholder: "Street address" %>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :line2, "Address Line 2", class: "form-label" %>
                <%= addr.text_field :line2, class: "form-input", placeholder: "Apartment, suite, etc." %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :city, class: "form-label" %>
                <%= addr.text_field :city, class: "form-input", placeholder: "City" %>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :state, class: "form-label" %>
                <%= addr.text_field :state, class: "form-input", placeholder: "State" %>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :zip, "ZIP Code", class: "form-label" %>
                <%= addr.text_field :zip, class: "form-input", placeholder: "ZIP code" %>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <%= addr.label :country, class: "form-label" %>
                <%= addr.text_field :country, class: "form-input", placeholder: "Country" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="btn-group">
        <%= f.submit "Create Employee", class: "btn-primary" %>
        <%= link_to "Back", employees_path, class: "btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>


