<div class="login-container">

  <!-- Left Side Image -->
  <div class="login-left"></div>

  <!-- Right Side Form -->
  <div class="login-right">
    <div class="form-box">

      <h2 class="title">Login</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <!-- Email -->
        <div class="input-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "input" %>
        </div>

        <!-- Password -->
        <div class="input-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "input" %>
        </div>

        <!-- Submit -->
        <%= f.submit "Log In", class: "btn login-btn" %>

      <% end %>

    </div>
  </div>

</div>
